<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Urunler Sayfasi</title>
</head>
<body>
    <h1>Urunler</h1>
    <p>
        <%= datas[0].name %>
        <%= datas[0].price %>₺
    </p>
    <!-- ejs ile foreach döngüsü-->
    <ul>
        <% datas.forEach( data => { %>
            <li>
                <a href="/product/<%= data.id %>">
                <%= data.name %> - <%= data.price %>₺
            </li></a>
        <% }) %>
    </ul>

    <!-- ejs ile if döngüsü-->
    <ul>
        <% datas.forEach( data => { %>
            <% if ( data.price > 25000 ) { %>
            <li>
                <%= data.name %>
                <%= data.price %>₺
            </li>
            <% } %>
        <% }) %>
    </ul>
</body>
</html>